h1 {
    text-align:center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #020e65;
    font-size: 150% 
}

header {
    display: flex;
    flex-direction: column;
    color: #FAFAFA;

}

nav {
    text-align:center; 
    /* color:#30230be0; */
    /* display: flex;
    flex-direction: row;
    align-items: stretch; */
}

nav a {
    text-decoration: none;
    color: #FAFAFA;

    margin-right: 5%;
    margin-left: 5%;

}

.logoDiv {
    font-size: 25px;
    font-weight: bold;
}

.formElem {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.radioElem {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #E8F1F5;

    color: black;
}

.plateContainer {
    background-image: url(media/plate.jpeg);
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    height: 750px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding-left: 12%;
    padding-right: 12%;

    color: #E8F1F5;
    text-align: center;

}

ul {
    height: 100px;
    width: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 130px;
    list-style-type: none;
    
}

.clientQuote {
    background-color: #E8F1F5;
    color: #020e65;
    opacity: .75;
    width: 400px;
    margin-top: 40px;
    margin-right: 60px;
}

.aboutDiv {
    background-color: #E8F1F5;
    margin: 0 auto;
}