* {
    text-decoration: none;
    overflow: auto;
 }

body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    background-color:#3A405A;
    padding: 30px 100px;  
}

nav a {
    color: white;
    text-decoration: none;
}

tr {
    align-items: baseline;
    padding:10%;
}


.base td{
    padding: 5%;
    text-align: left;
    margin: 5%;
} 

td {
    width: 150px;
}

.flavors{
    display: flex;
    background-color:burlywood;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about{
    display: flex;
    background-color:burlywood;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about p {
    display: flex;
    width: 50%;
}
