.test-content {
    color: white;
}

.test-container {
    width: 40vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: rgb(43, 3, 3);
    padding: 30px;
    margin: 20px auto;
    grid-auto-flow: row;
    border: double white 5px;
    column-gap: 10px;
}

.test-header {
    display: flex;
    justify-content: space-between;
}
img {
    width: 175px;
}
.image-container {
    margin: auto 0px;
}
p {
    line-height: 1.5;
}

.test-container {
    transform: translateX(400%);
    transition: transform 0.5s ease;
}

.test-container:nth-of-type(even) {
    transform: translateX(-400%);
}

.test-container.show {
    transform: translateX(0);
}

@media screen and (max-width: 1000px) {
    .test-container {
        width: 40vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(43, 3, 3);
        padding: 30px;
        margin: 20px auto;
    }

    .test-header {
        flex-direction: column;
    }
}