input[type="button"] {
    font-family: Courier;
    background-color: white;
    color: gray;
    margin: 10px;
    width: 400px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 black;
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white double 5px;
    padding: 3%;
    width: 50%;
    align-self: right;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(43, 3, 3);
}

.formElem {
    display: inline-block;
    text-align: right;
    width: 65%;
}

form label {
    float: left;
}

.formElem p {
    text-align: center;
}   

textarea {
    width: 110%;
}
