.test-content {
    color: white;
}
.test-container {
    width: 700px;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    background-color: rgb(43, 3, 3);
    padding: 30px;
    margin: 20px auto;
    grid-auto-flow: row;
    border: double white 5px;
}
.test-header {
    display: flex;
    justify-content: space-between;
}
img {
    width: 175px;
}
.image-container {
    margin: auto 0px;
}
p {
    line-height: 1.5;
}

.test-container {
    transform: translateX(400%);
    transition: transform 0.5s ease;
}

.test-container:nth-of-type(even) {
    transform: translateX(-400%);
}

.test-container.show {
    transform: translateX(0);
}