body {
    background-image: linear-gradient(to bottom right, white, rgb(69, 190, 255));
    font-family: 'Courier New', Courier, monospace;
}

.greeting {
    margin-left: 3vw;
    margin-top: 20vh;
}

nav {
    margin-left: 10vw;
    height: 48vh;
    margin-top: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    font-size: large;
    text-decoration: none;
    position: relative;
    color: #1d4e89;
    margin: 1em 2em;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #1d4e89;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


@media screen and (max-width: 1200px) {
    .greeting {
        margin: 50px auto;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        height: 35vh;
        margin-top: 5vh;
    }

}