nav {
    display: flex;
    justify-content: space-around;
    background-color: #F1F0EA;
    margin: -10px;
    padding: 10px;
    font-size: 30px;
    align-items: center;
}

.link-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a img {
    width: 200px;
}

.blurb-container {
    width: 80vw;
    margin: auto;
}

p {
    line-height: 2;
    text-align: center;
}

body {
    background-color: #E0DDCF;
}

@media screen and (max-width: 750px) {
    nav {
        flex-direction: column;
    }
    nav a {
        margin-top: 20px;
    }
}